
/* Encabezado donde va la informacion de mi git */

/* aprendi que opaciti es para darle transparencia al div */
.encabezado{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #000000 ;
    margin-bottom: 0%;
    opacity: 0.6;
}

/* aqui utilice text-decoration: none; para quitale la raya al texto del link o del h1 */
.encabezado a{
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    text-decoration: none;
  
}

.encabezado h1{
    margin: 1px;
    font-size: 13px;
    align-content: center;
    color: white 
}

.encabezado img{
    padding-left: 5px;
}

/* NAVBAR */

.header{
    background-image: url('./imagenes/imagen_molinos_header.jpg');
    background-position: center;
    background-size: cover;
}

.img-logo {
    width: 300px;
    padding: 5px;
    margin-right: 37px;
}

.conten-navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.col-auto a{
   margin-right: 15px;
}

/* aqui va el div que puse en el inicio del header donde estan los molinos de fondo */
.nav-texto-header{
    margin-left: 37px;
    background-color: #212529;
    opacity: 0.8;
}    

.nav-texto-header a{
    margin-bottom: 20px;
}

body {
    background-color: red;
}